<div class="row responsive-md">
	<div class="col">
		<form name="loginForm" novalidate>
			<h1>Please Login</h1>
  			<div ng-class="{ 'has-error' : loginForm.name.$invalid && !loginForm.name.$pristine }">
				<input 	name="name"
		  				ng-class="{ 'has-error' : loginForm.name.$invalid && !loginForm.name.$pristine }" 
		  				placeholder="Username" 
		  				ng-model="user.UserName" 
		  				type="text" 
		  				value="" required>
				<p 	ng-show="loginForm.name.$invalid && !loginForm.name.$pristine" 
					class="message-error">
					Your username is required.
				</p>
			</div>

			<div ng-class="{ 'has-error' : loginForm.password.$invalid && !loginForm.password.$pristine }">
				<input 	name="password" 
		  		 		ng-class="{ 'has-error' : loginForm.password.$invalid && !loginForm.password.$pristine }" 
		  		 		placeholder="Password" 
		  		 		ng-model="user.Password" 
		  		 		type="password" 
		  		 		value="" required>
				<p ng-show="loginForm.password.$invalid && !loginForm.password.$pristine" class="message-error">
					Please enter a password.
				</p>
			</div>
			<button class="login" ng-disabled="loginForm.$invalid" ng-click="login()">Login</button>
		</form>
	</div>
</div>