<!DOCTYPE>
<html>

<head>
  <title>FORMS</title>
</head>

<body>

  <ion-view>

    <div class="bar bar-header bar-positive" ng-controller="InsideCtrl">
      <h1 class="title">Patient Forms</h1>
      <button class="button" ng-click="logout()">
        Sign Out
      </button>
    </div>

    <ion-content class="has-header">

      <div ng-controller="FormCtrl as form">
        <md-content layout-padding="" ng-hide="showForm">
          <ul>
            <ul ng-repeat="question in QuestionnaireList">
              <li ng-repeat="quest in question.Questionnaire">
                <md-list>
                  <md-list-item class="secondary-button-padding">
                    <p>{{quest.SurveyName}}</p>
                    <md-button class="md-warn md-raised md-hue-2" ng-if="!question.Completed" ng-click="goToForm(quest.SurveyId)">Incomplete</md-button>
                    <md-button class="md-primary md-hue-1 " ng-if="question.Completed"> Completed Form</md-button>
                  </md-list-item>
                </md-list>
              </li>
            </ul>
          </ul>
        </md-content>

        <ul ng-repeat="question in QuestionnaireList">
          <li ng-repeat="quest in question.Questionnaire">
          <ul>
            <li ng-repeat="sects in quest.Sections">
            <div ng-show="showForm && quest.SurveyId == questionnaireid && section_index == $index">
            <div layout="row" flex>
             <md-content layout-fill >
                
                
                    <md-subheader class="md-accent">{{sects.SurveySectionName}}</md-subheader>
                    <ul>
                      <li>
                        <ul ng-repeat="q in sects.Questions">
                          <p></p>
                          <!-- extra space between questions -->
                          <div ng-if="!q.QuestionOptional">
                            <p> {{q.SurveyQuestionLabel}}</p>
                            

                            <div ng-if="q.SurveyControlTypeName == 'RADIOBUTTON'">
                                <md-radio-group layout="row" ng-model="answerID[$index]" class="md-accent" ng-change = "getAnswerID(q.SurveyQuestionId,q.SurveySectionId, $index)">
                                  <md-radio-button ng-repeat="answers in q.Answers" ng-value="answers.SurveyAnswerId" >
                                    {{answers.SurveyAnswerLabel}} {{answers.SelectedAnswer}}
                                    <br/>
                                  </md-radio-button>
                                </md-radio-group>
                              </div>

                            

                            <!-- <div ng-if="q.SurveyControlTypeName == 'RADIOBUTTON'">

                              <md-radio-group layout="row" ng-model="answerID.id" class="md-primary" ng-change="selectedAnswerChange(q.SurveyQuestionId,q.SurveySectionId)">
                                <md-radio-button ng-repeat="answers in q.Answers" ng-value="answers.SurveyAnswerId">
                                  {{answers.SurveyAnswerLabel}}
                                  <br/>

                                </md-radio-button>

                              </md-radio-group>


                            </div> -->


                            <div ng-if="q.SurveyControlTypeName == 'TEXT'">
                              <!-- Code for Textbox goes here-->
                              <li><ul><li><ul ng-repeat="answers in q.Answers">
                               <md-input-container class="md-block">
                                  <label> {{answers.SurveyAnswerLabel}}</label>
                                  <textarea ng-model="answer.text" name="q.SurveyQuestionId"></textarea>
                                </md-input-container>
                              </ul></li></ul></li>
                            </div>


                            <div ng-if="q.SurveyControlTypeName == 'TIMEFRAME'">
                              <!-- Code for timeframe goes here-->
                              <li>
                                <ul>
                                  <li>
                                    <ul ng-repeat="answers in q.Answers">

                                    </ul>
                                  </li>
                                </ul>
                              </li>
                            </div>


                            <div ng-if="q.SurveyControlTypeName == 'CHECKBOX'">
                              <!-- Code for checkbox goes here-->   
                                <div layout="row" layout-wrap layout-padding flex>
                                  <div flex="50" ng-repeat="answers in q.Answers">
                                    <md-checkbox >
                                      {{answers.SurveyAnswerLabel}}
                                    </md-checkbox>
                                  </div>
                                  </div>
                              </div>
                              </div>

                        </ul>
                      </li>
                    </ul>
                    
                    
                    <div layout="row" layout-align="end end">
                      <div ng-if = "$index != 0">
                        <md-button class="md-raised md-primary" ng-click="goToPrevious()">Previous Page</md-button>
                      </div>
                      <div ng-if = "getLen()-1 != $index">
                        <md-button class="md-raised md-primary" ng-click="goToNext()">Next Page</md-button>
                      </div>
                      <div ng-if = "getLen()-1 == $index">
                        <md-button class="md-raised md-primary" ng-click="goToReview()">Review Answers</md-button>
                      </div>
                    </div>

                   
               </md-content>
               </div>
              </div>
              </li>
              </ul>



              

          </li>
        </ul>


      </div>
    </ion-content>
  </ion-view>


</body>

</html>
    
